本文所用的数据集来自于kesci平台，由云脑机器学习实战训练营提供：[真实业界数据的时间序列预测挑战](https://www.kesci.com/apps/home/dataset/5a2cd9d29e1efb40487d112d)

数据集采用来自业界多组相关时间序列（约40组）与外部特征时间序列（约5组）。本文只使用其中一组数据进行建模。

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [3]:
path = '../data/11.csv'
data11 = pd.read_csv(path, 
                     names=['年','月','日','当日最高气温',
                            '当日最低气温','当日平均气温','当日平均湿度',
                            '输出'])
data11.head()

      年  月  日  当日最高气温  当日最低气温  当日平均气温  当日平均湿度          输出
0  2015  2  1     1.9    -0.4  0.7875  75.000  814.155800
1  2015  2  2     6.2    -3.9  1.7625  77.250  704.251112
2  2015  2  3     7.8     2.0  4.2375  72.750  756.958978
3  2015  2  4     8.5    -1.2  3.0375  65.875  640.645401
4  2015  2  5     7.9    -3.6  1.8625  55.375  631.725130